body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #c0a0ff, #c7869a, #fde282);
}

#mainClass {
    text-align: center;
}

input {
    margin-left: 20px;
    width: 500px;
    height: 20px;
}

.header {
    font-size: 36px;
    font-weight: bold;
    color: blue;
    margin-left: 50px;
}

.label-col {
    text-align: right;
}

#error {
    color: red;
    font-size: 26px;
}
